HOST_UID=1000
HOST_GID=1000
CONTAINER_USER=nvidia
CONTAINER_NAME=slam-ros2-dev
IMAGE_NAME=slam-ros2-dev:jazzy
NETWORK_NAME=slam-ros2-dev-net
ROS_DOMAIN_ID=49
GZ_PARTITION=slam-dev-49
DISPLAY=:1
XAUTHORITY_FILE=/run/user/1000/gdm/Xauthority
LIBGL_ALWAYS_SOFTWARE=1
