<?xml version="1.0"?>
<!--
  Gazebo Sim (gz sim / ros_gz) 版本的 mybot 总装文件。

  与书上 urdf/mybot/mybot.urdf.xacro 的唯一区别：把最后两个 classic 插件
  换成 Gazebo Sim 版本，其余组件（base / 传感器 / 执行器）完全复用：

    classic: mybot.ros2_control.xacro  + gazebo_sensor_plugin.xacro
    gz sim : plugins/gz_control_plugin.xacro + plugins/gz_sensor_plugin.xacro

  原有的 mybot.urdf.xacro 保持不动，两条路并存。
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mybot">
    <xacro:include filename="$(find mybot_description)/urdf/mybot/base.urdf.xacro" />
    <!-- 传感器组件 -->
    <xacro:include filename="$(find mybot_description)/urdf/mybot/sensor/imu.urdf.xacro" />
    <xacro:include filename="$(find mybot_description)/urdf/mybot/sensor/laser.urdf.xacro" />
    <xacro:include filename="$(find mybot_description)/urdf/mybot/sensor/camera.urdf.xacro" />
    <!-- 执行器组件 -->
    <xacro:include filename="$(find mybot_description)/urdf/mybot/actuator/wheel.urdf.xacro" />
    <xacro:include filename="$(find mybot_description)/urdf/mybot/actuator/caster.urdf.xacro" />

    <xacro:base_xacro length="0.12" radius="0.1" />
    <!-- 传感器 -->
    <xacro:imu_xacro xyz="0 0 0.02" />
    <xacro:laser_xacro xyz="0 0 0.10" />
    <xacro:camera_xacro xyz="0.10 0 0.075" />
    <!-- 执行器主动轮+从动轮 -->
    <xacro:wheel_xacro wheel_name="left" xyz="0 0.10 -0.06" />
    <xacro:wheel_xacro wheel_name="right" xyz="0 -0.10 -0.06" />
    <xacro:caster_xacro caster_name="front" xyz="0.08 0.0 -0.076" />
    <xacro:caster_xacro caster_name="back" xyz="-0.08 0.0 -0.076" />

    <!-- Gazebo Sim 插件：ros2_control + 传感器 -->
    <xacro:include filename="$(find mybot_description)/urdf/mybot/plugins/gz_control_plugin.xacro" />
    <xacro:mybot_gz_ros2_control />
    <xacro:include filename="$(find mybot_description)/urdf/mybot/plugins/gz_sensor_plugin.xacro" />
    <xacro:gz_sensor_plugin />
</robot>
